/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
 * {
   box-sizing: border-box;
 }
 .main-container {
  height: 100vh;
 }
.navbar-nav {
  margin-left: auto;
}
.loginName {
  color: white;
  /* font-weight: bold; */
  line-height: 40px;
}
.registerImg {
  height: 100%;
  width: 100%;
}
.form-image {
  min-width: 800px;
  min-height: 800px;
}
.form {
  width: 500px;
}
.input-group {
  padding: 10px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
  
